@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');



*{padding:0px; margin:0px;}
html,body{
    background-color:whitesmoke;
    width:100%;
    height:100%;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    
}



.nav{
    width:100%;
    height:5%;
    background-color: rgb(9, 71, 153);
    display: grid;
    place-content: center start;
    padding:2%;
    box-shadow: 0px 1px 10px black;
    
}.nav h1{
    color:whitesmoke;
}

.center{
    width:100%;
    height:75%;
    display:flex;
    justify-content: center;
    align-items: center;
   
}

.work{
    width:70%;
    height:100%;
    min-height: 100%;
    display: flex; 
}





.leftsid{
    width:25%;
    height:100%;
    display: grid;
    place-items: start center;
    padding-top:10px;
    overflow:hidden;
}.leftsid img{
    width:90px;
    height:90px;
}
.information{
    width:75%;
    height:100%;
    overflow-y: scroll;
    text-align:center;
}









.endback{
    width:100%;
    height:10%;
    background-image:linear-gradient(to bottom,rgb(0, 153, 255),lightblue);
    display:flex;
}.left{
    width:50%;
    height:100%;
    display: grid;

}.right{
    width:50%;
    height:100%;
    display: grid;
    padding-right:15px;
}.left h1{
    place-self: center start;
    color:whitesmoke;
    margin-left:5px;
}.right img{
    width:60px;
    height:60px;
    place-self: center end;
}





.end{
    width:100%;
    height:7%;
    background-color:black;
    display: grid;
    place-items:center;
}.end h3{
    color:whitesmoke;
}



::-webkit-scrollbar{
    width:10px;
}
::-webkit-scrollbar-thumb{
    background-color:rgba(128, 128, 128, 0.39);
    border-radius:120px;
}




@media only screen and (max-width: 500px) {
    


    .work{
        display:grid;
        place-items:start center;
        overflow-y:scroll;
    }
    .leftsid{
        width:100%;
        height:120px;
    }




  }
  @media only screen and (max-width:314px){
      .nav{
          height:auto;
      }
  }
